body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
  background-color: #eeeeee;
  text-align: center;
}
#notification {
  z-index: 9999;
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: #333333;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: left;
  font-size: 14px;
  color: #ffffff;
}
#notification-message {
  padding: 0;
  margin: 0;
}
#notification-restart-button {
  width: 100%;
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid #ffffff;
  background-color: #777777;
  color: #ffffff;
}
.opacity-0 {
  opacity: 0;
}
.hiddenX {
  display: none;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fadeOut {
  animation-name: fadeOut;
}